.abt_main{
  padding-top: 100px;
}
.abt_body{
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  /* background-color: rgb(34, 34, 34); */
  color: white;
  /* padding-top: 100px; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 0px 20px;
}

.abt_heading {
  text-align: center;
  font-family: 'Arial', sans-serif;  /* Change the font */
  font-size: 24px;                  /* Adjust the font size */
  font-weight: bold;                /* Make the text bold */
  color: #4A90E2;                   /* Change the text color */
  background-color: #000000;        /* Add a background color */
  padding: 20px;                    /* Add padding */
  border-radius: 10px;              /* Round the corners */
  box-shadow: 0 4px 8px rgba(126, 21, 21, 0.1);  /* Add a subtle shadow */
  /* position: absolute; */
  
}